@import "tailwindcss";

@theme {
  --color-dark: #1a1a1a;
  --color-darker: #141414;
  --color-card: #242424;
  --color-primary: #3b82f6; /* Biru Komikcast */
}

:root {
  --background: #1a1a1a;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}